.imageTop{
    background-image: url(/assets/img/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



.page1__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    h1{
        @include H1;
    }
    p{
        @include P1;
    }
}


.page1__buttons{
    display: flex;
    padding-top: 6vh;
    justify-content: space-between;
    align-items: center;
    min-width: 29vw;


    @media only screen and (max-width: 1024px) {
        flex-direction: column;
        height: 19vh;
      }


    @media only screen and (max-width: 1624px) {
    width: 39vw;
      }
}

.btn1{
    @include BTN1;
}


.btn2{
    @include BTN2;
}





.page1__text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        @include H1;
        padding-top: 15vh;
    }
    p{
        @include P1;
    }
}
