@mixin BTN1 {
    width: 20vh;
    height: 5vh;
    background-color: $StrongCyan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
    a{
        text-decoration: none;
    color: white;
    }


    @media only screen and (max-width: 1024px) {
    font-size: 1rem;
      }
}







@mixin BTN2 {
    
    width: 20vh;
    min-height: 5vh;
    background-color: $LightBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);

    a{
        text-decoration: none;
    color: white;
    }

    @media only screen and (max-width: 1024px) {
    font-size: 1rem;
      }

}



